@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #fff ;
    background-color:rgb(10, 25, 47) !important;
}

body{
    min-height: 200vh;
    background-color:rgb(10, 25, 47) !important;
}

p{

    font-size: 17px;
}

.section-content {
    padding-top: 110px;
}




header .logo {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky{
    padding: 5px 120px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header.sticky ul{
  padding-top: 20px;
}

.intro{
    color: #b7babd;
}


.btn-outline-primary:hover {
    color: #fff !important;
    
    border-color:  #789fa5 !important;
}
  .btn-outline-primary{
    color: #789fa5 !important;
    border-color:   #789fa5 !important;
}


.links a{
    position: relative;
    margin: 0 15px;
    text-decoration: none !important;
    letter-spacing: 2px;
    color: #6c7fc5;
    font-weight: 600;
    transition: 0.6s;
}

.links a:hover{
    color: #fff;
}

.links:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    color:#b6bedc;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .links:hover:after {
    width: 75%;
    background: #fff;
  }


  .social-buttons:hover {
    color: #fff;
    background-color: #0a192f ;
    border-color: #789fa5;
}



@media only screen and (max-width: 600px) {
    .links:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        color:#b6bedc;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      .links:hover:after {
        width: 100%;
        background: #fff;
      }
}
/* header.sticky{
    background-color: rgb(10, 25, 47);
} */

