@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #000000 !important;
    background-color:#fff;
}

body{
    min-height: 200vh;
   
}

p{

    font-size: 17px;
}

.section-content {
    padding-top: 110px;
}


header .logo {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky{
    padding: 5px 120px;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header.sticky ul{
  padding-top: 20px;
}



.intro{
    color: #000000;
}


.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #789fa5 !important;
    border-color:  #789fa5 !important;
}
  .btn-outline-primary{
    color:  #789fa5 !important;
    border-color:    #789fa5 !important;
}

/* #desktop-menu.sticky{
    background-color: blue !important;
} */


.links a{
    position: relative;
    margin: 0 15px;
    text-decoration: none !important;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.6s;
}

.links a:hover{
    color: #789fa5 !important;
}


  .links:hover:after {
    width: 75%;
    background: #fff;
  }


  .social-buttons:hover {
    color: #fff;
    background-color: transparent !important ;
    border-color: #789fa5;
}

/* .social-buttons p{
    color: #fff;
    background-color: transparent;
} */